<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PANBC</title>
  <link rel="stylesheet" href="{% static 'styles/style.css' %}" />

</head>
<body>

  {% if request.user.is_authenticated %}

  {% include 'navbar.html' %}

  {% include 'sidebar.html' %}

  <!-- {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} -->

  {% endif %}

  {% block content %}

  {% endblock content %}

  <script src="{% static 'js\script.js' %}"></script>
</body>
</html>