
{% extends 'main.html' %}

{% load static %}
{% block content %}
<main class="list-container">
  <div class="bg">
    <div class="wrapper"> 
      <div class="title">
        Hồ sơ học sinh
      </div>
      <form class="form" action="" method="POST">
        {% csrf_token %}
        <div class="input_field">
          <label>Họ và tên</label>
          <!-- <div name="name" class="input"> -->
          {{form.name}}
          <!-- </div> -->
        </div>
        <div class="input_field">
          <label>Lớp</label>
          <div class="custom_select">
            {{form.classOfSchool}}
            <!-- <select name="Class">
              <option value="">Select</option>
              {% for lop in lops %}
              <option value="{{lop.classId}}">{{lop.classId}}</option>
              {% endfor %}
            </select> -->
          </div>
        </div>
        <div class="input_field">
          <label>Ngày sinh</label>
          {{form.dateOfBirth}}
          <!-- <input type="date" name="dateOfBirth" class="input" value="{{form.dateOfBirth.value}}"> -->
        </div>
        <div class="input_field">
          <label>Giới tính</label>
          <div class="custom_select">
            {{form.sex}}

            <!-- <select name="sex">
              <option value="">Select</option>
              <option value="1">Nam</option>
              <option value="0">Nữ</option>
            </select> -->
          </div>
        </div>
        <div class="input_field">
          <label>Địa chỉ</label>
          {{form.address}}
          <!-- <textarea type="text" name="address" class="textarea"></textarea> -->
        </div>
        <div class="input_field">
          <label>Email</label>  
          {{form.email}}
          <!-- <input type="text" class="input" name="email"> -->
        </div>
        <!-- <div class="input_field">
          <label>Năm học</label>
          <div class="custom_select">
            {{form.year}} -->
            <!-- <select name="year">
              <option value="">Select</option>
              {% for year in years %}
              <option value="{{year}}">{{year.year}}</option>
              {% endfor %}
            </select> -->
          <!-- </div>
        </div> -->
        <div class="input_field_file">
          <label>Thêm danh sách học sinh</label>
          <input type="file" class="input">
        </div>
        <div class="input_field">
          <button class="btn-cancel" name="button" value="Cancel">Huỷ</button>
          <button class="btn-save-st" name="button" value="Save">Lưu</button>
        </div>
      </form>
    </div>

  </div>
</main>

{% endblock content %}