{% extends 'main.html' %}
{% load static %}

{% block content %}
  <main class="list-container">
    <header class="tacvu">
      <form class="timkiem" action="" method="GET">
        {% csrf_token %}
        <input name="q" class="search-bar" placeholder="Tìm kiếm...">
        <button class="search-button">
          <img src="{% static 'images/search.png' %}" class="search-icon">
        </button>
      </form>
      <a class="add" href="{% url 'addStudent' %}">
        <img src="{% static 'images/add.png' %}" height="20px">
        <p>Thêm</p>
      </a>
    </header>
    <form class="list-year" action="" method="GET">
      {%csrf_token %}
      <label for="years_topic">Năm học:</label>
      {{classFilter.form.year}}
      <label for="class_topic">Lớp</label>
      {{classFilter.form.classOfSchool}}
      <label>Sỉ số: {{siso}}</label>
      <button class="result-btn" name="rq_result">Xem kết quả</button>
    </form>
    <table class="table">
      <tr>
        <th>STT</th>
        <th>Họ tên</th>
        <th>Giới tính</th>
        <th>Ngày sinh</th>
        <th>Địa chỉ</th>
        <th>Action</th>

      </tr>
      {% for stt, student, date in students %}
      <tr class="list">
        <td><a href="#">{{stt}}</a></td>
        <td><a href="#">{{student.name}}</a></td>
        {% if student.sex == '1' %}
          <td>Nam</td>
        {% else %}
          <td>Nữ</td>
        {% endif %}
        <td>{{date}}</td>
        <td>{{student.address}}</td>
        <td class="edit-delete">
          <div>
            <button class="edit"><a href="{% url 'student_form' student.id %}">Sửa</a></button>
            <button class="delete"><a href="{% url 'deleteStudent' student.id %}"
                onclick="return confirm('Xác nhận xóa tài khoản này ?')">Xoá</a></button>
            <!-- <button class="report">Lập báo cáo</button> -->
          </div>
        </td>
      </tr>
      {% endfor %}
    </table>
    <div class="pagenumber">
      <button class="previous" type="previous">
        <img src="{% static 'images/previous.png' %}">
      </button>
      <p>1/1</p>
      <button class="next" type="next">
        <img src="{% static 'images/next.png' %}">
      </button>
    </div>
  </main>

{% endblock content %}