{% extends 'main.html' %}
{% load static %}

{% block content %}
<main class="list-container">
  <div class="bg">
    <div class="wrapper">
      <div class="title">
        Điểm học sinh
      </div>
      <form class="form" action="" method="POST">
        {% csrf_token %}
        <div class="input_field">
          <label>Họ và tên</label>
          <div class="custom_select">
            {{form.student}}
          </div>
        </div>
        <div class="input_field">
          <label>Môn học</label>
          <div class="custom_select">
            {{form.subjects}}
          </div>
        </div>
        <div class="input_field">
          <label>Học kì</label>
          <div class="custom_select">
            {{form.semester_mark}}
          </div>
        </div>
        <div class="input_field">
          <label>15 phút</label>
          {{form.markFifteen}}
        </div>
        <div class="input_field">
          <label>1 Tiết</label>
          {{form.markOne}}
        </div>
        <div class="input_field">
          <label>Học kì</label>
          {{form.markFinal}}
        </div>
        <div class="input_field_file">
          <label>Thêm nhiều học sinh</label>
          <input type="file" class="input">
        </div>
        <div class="input_field">
          <button class="btn-cancel" type="submit"><a href="{% url 'list_subject' %}">Huỷ</a></button>
          <button class="btn-save-st" type="submit" name="button" value="SAVE">Lưu</button>
        </div>
      </form>
    </div>

  </div>
</main>
{% endblock content %}