{% extends 'studentManager/base.html' %}
{% load static %}

{% block content %}
<main class="list-container">
  <div class="main-report">
    <!-- <div class="report-tab">
      <div class="item-term">Báo cáo tổng kết học kì</div>
      <div class="item-subject">Báo cáo tổng kết môn</div>
    </div> -->
    <h1 class="label">
      <center>Báo cáo tổng kết</center>
    </h1>

    
    <!-- {% if bit == 1 %} -->
    <div class="main-rp-sj" method="POST" action="">
      <form class="list-year" method="GET" action="">
        {%csrf_token %}
        <label for="years_topic">Năm học:</label>
        {{myFilter.form.year}}
        <label for="subject_topic">Môn:</label>
        {{myFilter.form.subject}}
        <label for="term_topic">Học kì:</label>
        {{myFilter.form.semester_mark}}
        <button class="result-btn" name="rq_result">Xem kết quả</button>
      </form>
      <table class="table">
        <tr>
          <th>STT</th>
          <th>Lớp</th>
          <th>Sỉ số</th>
          <th>Số lượng Đạt</th>
          <th>Tỷ lệ</th>
        </tr>
        {% for stt, lop, siSo, soLuongDat, tiLe in results %}
        <tr class="list">
          <td><a href="#">{{stt}}</a></td>
          <td><a href="#">{{lop.classID}}</a></td>
          <td>{{siSo}}</td>
          <td>{{soLuongDat}}</td>
          <td>{{tiLe}}%</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <!-- {% else %}
    <div class="main-rp-term" method="POST" action="">
      <form class="list-year" action="" method="GET">
        {%csrf_token %}
        <label for="years_topic">Năm học:</label>
        {{myFilter.form.year}}
        <label for="term_topic">Học kì:</label>
        {{myFilter.form.semester_mark}}
        <button class="result-btn" name="rq_result">Xem kết quả</button>
      </form>
      <table class="table">
        <tr>
          <th>STT</th>
          <th>Lớp</th>
          <th>Sỉ số</th>
          <th>Số lượng Đạt</th>
          <th>Tỷ lệ</th>
        </tr>
        {% for stt, lop, siSo, soLuongDat, tiLe in results %}
        <tr class="list">
          <td><a href="#">{{stt}}</a></td>
          <td><a href="#">{{lop.classID}}</a></td>
          <td>{{siSo}}</td>
          <td>{{soLuongDat}}</td>
          <td>{{tiLe}}%</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    {% endif %} -->
    <div class="btn-save">
      <div action="">
        <img src="{% static 'images/save.png' %}">
        Lưu
      </div>
    </div>
  </div>
</main>

{% endblock content %}