{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <title>Student Management System</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'homepage' %}">
                <i class="fa-solid fa-school fa-lg me-2"></i>
                Student Management
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'homepage' %}">Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Them thanh vien</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Thêm Học sinh</a>
                            <a class="dropdown-item" href="#">Thêm Giáo viên</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Thêm Admin</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Thông tin lớp học</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'dsLop' %}">Danh sách lớp</a>
                            <a class="dropdown-item" href="#">Tra cứu HS</a>
                        </div>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Điểm</a>
                    </li> -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Điểm</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Bảng điểm</a>
                            <a class="dropdown-item" href="#">Bảng tổng kết</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Quy định</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Tuổi</a>
                            <a class="dropdown-item" href="#">Lớp</a>
                            <a class="dropdown-item" href="#">Môn học</a>
                        </div>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-sm-2" type="search" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">
                        <a class="dropdown-item" href="{% url 'logout_user' %}">Log out</a>
                    </button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</head>

</html>