{% extends 'studentManager/base.html' %}
{% load static %}

{% block content %}
<style>
    h3 {text-align: center;}
</style>
    <h3 class="label">CHỌN NIÊN KHÓA</h3>
    <div class="card card-body shadow-lg">
        <div class="jus_center row">
            <div class='col-lg-6'>
                {% csrf_token %}
                <table class="table">
                    <tr>
                        <th>STT</th>
                        <th>Niên khóa</th>
                        <th> </th>
                    </tr>

                    <!--Example start-->
                    <!-- <tr>
                        <td>1</td>
                        <td>2020 - 2021</td>
                        <td>
                            <a href="#" class="btn btn-primary">Chọn</a>
                        </td>
                    </tr> -->
                    <!--Example end-->
                    
                    {% for y in age %}
                        <tr class ="list">
                            <td>{{ forloop.counter }}</td>
                            <td>{{y.year}}</td>
                            <td>
                                <a href="{% url 'lapDS' y.id %}" class="btn btn-primary">Chọn</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        
    </div>
{% endblock content %}