<h5>ĐÂY LÀ 'dslop.html' DÙNG ĐỂ HIỂN THỊ DANH SÁCH LỚP</h5>
<h5>KHI LÀM VIEW NÀY VẪN CHƯA CÓ DATABASE</h5>
<h5>SAU KHI TẠO ĐỦ DATABASE, KHI CHẠY VUI LÒNG BỎ GHI CHÚ CỦA 'studentManager/views.py/dsLop'</h5>
<a href = "{% url 'home' %}"> Back</a>
<hr>



<!DOCTYPE html>
<html>

<head>

    <style>
        h3 {text-align: center;}
        div {text-align: center;}

    </style>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Student Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS CDN -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">

    <!-- Font Awesome JS -->
    <script rel="stylesheet" src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" ></script>
    <script rel="stylesheet" src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"></script>

    <link rel="stylesheet" href="">  <!--Add static here-->
    <link rel="stylesheet" href="">  <!--Add static here-->

</head>

<h3 class="label">Danh sách lớp</h3>
<div class="card card-body shadow-lg">
    <form method="get" class="main_form-header row">
        {% csrf_token %}
        <div class="main_form_class col-lg-3">
            <div class="row">
                <div class="main_form_title col-lg-3">
                    <p>Lớp</p>
                </div>
                <div class="main_form_select col-lg-6">
                    <!-- {{classFilter.form.classOfSchool}} -->
                    10A1    <!-- example-->
                </div>
            </div>
        </div>
        <div class="main_form_class col-lg-4">
            <div class="row">
                <div class="main_form_title col-lg-5">
                    <p>Niên khóa</p>
                </div>
                <div class="main_form_select col-lg-6">
                    <!-- {{classFilter.form.year}} -->
                    20-21  <!-- example-->
                </div>
            </div>
        </div>
        <div class="main_form_term col-lg-2">
            <div class="row">
                    <button type="submit" class="btn btn-outline-primary col-lg-10">Xem kết quả</button>                              
            </div>
        </div>
        <!-- {%if user.role == '1' %}
        <div class="main_form_term col-lg-3">
            <div class="row">
                <a href="" type="button" class="btn btn-outline-success col-lg-11" >Lập danh sách lớp</a> 
            </div>
        </div>
        {%endif%} -->

        <!--Delete this and use if when have user.role-->
        <div class="main_form_term col-lg-3">
            <div class="row">
                <a href="" type="button" class="btn btn-outline-success col-lg-11" >Lập danh sách lớp</a> 
            </div>
        </div>
    </form>

    <table class="table table-sm">
        <tr>
            <th>STT</th>
            <th>Họ tên</th>
            <th>Ngày sinh</th>
            <th>Giới tính</th>
            <th>Email</th>
            <th>Địa chỉ</th>
        </tr>

        <!--Example start-->
        <tr>
            <td>1</td>
            <td>Trần Kiều Trang</td>
            <td>21/09/2004</td>
            <td>Nữ</td>
            <td>example@gmail.com</td>
            <td>123 đường số 1</td>
        </tr>
        <!--Example end-->

        <!-- {% for student, date in students %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{student.user.name}}</td>
                <td>{{date}}</td>
                {%if student.user.sex == '1'%}
                    <td>Nam</td>
                {%else%}
                    <td>Nữ</td>
                {%endif%}
                <td>{{student.user.email}}</td>
                <td>{{student.user.address}}</td>
            </tr>
        {% endfor %} -->
    </table>
</div>
</html>