{% extends 'studentManager/base.html' %}

{% load static %}

{% block content %}
    <main class="list-container">
        <header class="tacvu">
            <div class="timkiem">
                {% if messages %}
                <!-- Error message -->
                <div class="d-flex justify-content-center">
                    {% for message in messages %}
                    {% if message.tags == 'error' or message.tags == 'success' %}
                    <div>{{ message }}</div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <a class="add" href="{% url 'themHS' %}">
                <img src="{% static 'images/add.png' %}" height="20px">
                <p>Thêm tài khoản Học sinh</p>
            </a>
        </header>
        
        <table class="table"> <!--Làm sao cho mỗi row to ra 1 tí :))))-->
            <tr>
                <th>STT</th>
                <th>Họ tên</th>
                <th>Ngày sinh</th>
                <th>Giới tính</th>
                <th>Email</th>
                <th>Địa chỉ</th>
                <th></th>
            </tr>
            {% for account, date in accounts %}
            <tr class="list">
                <td>{{ forloop.counter }}</td>
                <td>{{account.user.name}}</td>
                <td>{{date}}</td>
                {%if account.user.sex == '1'%}
                <td>Nam</td>
                {%else%}
                <td>Nữ</td>
                {%endif%}
                <td>{{account.user.email}}</td>
                <td>{{account.user.address}}</td>
                <td>
                    <a href="{% url 'capNhatTKHS' account.id %}" class="edit">Cập nhật</a>&nbsp
                    <a href="{% url 'xoaTKHS' account.id %}" onclick="return confirm('Xác nhận xóa tài khoản này ?')"
                        class="delete">Xóa</a>
                </td>
            </tr>
            {% endfor %}
        </table>

        <div class="pagenumber">
            <button class="previous" type="previous">
                <img src="{% static 'images/previous.png' %}">
            </button>
            <p>1/1</p>
            <button class="next" type="next">
                <img src="{% static 'images/next.png' %}">
            </button>
        </div>
    </main>
{% endblock %}

