{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <header class="header">
        <div class="left-section">
            <div class="navbar__toggle" id="sidebar">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <a class="header__logo" href="{% url 'homepage' %}">
                <img src="{% static 'images/logo.png' %}">
                <h1>PANPC</h1>
            </a>
        </div>
        <div class="middle-section">
            <!-- <input type="text" class="search-bar" placeholder="Search...">
      <button class="search-button">
        <img src="images/search.png" class="search-icon">
        <div class="tooltip">Search</div>
      </button> -->
        </div>
        <div class="right-section">
            <div class="message-icon-container">
                <img src="{% static 'images/message.png' %}" class="message-icon">
                <div class="tooltip">Messenger</div>
                <div class="message-count">3</div>
            </div>
            <div class="notification-icon-container">
                <img src="{% static 'images/notification.png' %}" class="notification-icon">
                <div class="tooltip">Notification</div>
                <div class="notification-count">2</div>
            </div>
            <nav class="header-menu">
                <div class="user-menu">
                    <a href="#">
                        <div class="avatar">
                            <img src="{% static 'images/user.png' %}">
                        </div>
                        <button class="dropdown-button">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                viewBox="0 0 32 32">
                                <title>chevron-down</title>
                                <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
                            </svg>
                        </button>
                    </a>
                </div>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-link">
                        <img width="20" height="20" viewBox="0 0 32 32" src="{% static 'images/edit.png' %}">
                        Chỉnh sửa
                    </a>
                    <a href="{% url 'logout_user' %}" class="dropdown-link">
                        <img width="20" height="20" viewBox="0 0 32 32" src="{% static 'images/logout.png' %}">
                        Thoát
                    </a>
                </div>
            </nav>

            <!-- <button class="login">
        Đăng nhập
      </button> -->

        </div>


    </header>
    <nav class="sidebar">
        <header>
            <img src="{% static 'images/user.png' %}">
            <a href="{% url 'userProfile' %}">
                <h1>{{ user.username }}</h1>
            </a>
        </header>
        <a href="{% url 'homepage' %}" class="sidebar-link">
            <img src="{% static 'images/home.png' %}">
            Trang chủ
        </a>
        <a href="#" class="sidebar-link"> <!--DS giáo viên -->
            <img src="{% static 'images/teacher.png' %}">
            Giáo viên
        </a>
        <a href="{% url 'dsTaiKhoanHS' %}" class="sidebar-link"> <!--DS học sinh-->
            <img src="{% static 'images/student.png' %}">
            Học sinh
        </a>
        <a href="{% url 'dsLop' %}" class="sidebar-link">
            <img src="{% static 'images/class.png' %}">
            Lớp học
        </a>
        <a href="#" class="sidebar-link"> <!--Môn học-->
            <img src="{% static 'images/book.png' %}">
            Môn học
        </a>
        <a href="#" class="sidebar-link">
            <img src="{% static 'images/book.png' %}">
            Báo cáo tổng kết
        </a>
        <a href="" class="sidebar-link">
            <img src="{% static 'images/settings.png' %}">
            Cài đặt
        </a>
    </nav>

    <main class="list-container">
        <header class="tacvu">
            <div class="timkiem">
                
            </div>
            <a class="add" href="{% url 'themHS' %}">
                <img src="{% static 'images/add.png' %}" height="20px">
                <p>Thêm tài khoản Học sinh</p>
            </a>
        </header>
        
        <table class="table"> <!--Làm sao cho mỗi row to ra 1 tí :))))-->
            <tr>
                <th>STT</th>
                <th>Họ tên</th>
                <th>Ngày sinh</th>
                <th>Giới tính</th>
                <th>Email</th>
                <th>Địa chỉ</th>
                <th></th>
            </tr>
            {% for account, date in accounts %}
            <tr class="list">
                <td>{{ forloop.counter }}</td>
                <td>{{account.user.name}}</td>
                <td>{{date}}</td>
                {%if account.user.sex == '1'%}
                <td>Nam</td>
                {%else%}
                <td>Nữ</td>
                {%endif%}
                <td>{{account.user.email}}</td>
                <td>{{account.user.address}}</td>
                <td>
                    <a href="{% url 'capNhatTKHS' account.id %}" class="edit">Cập nhật</a>&nbsp
                    <a href="{% url 'xoaTKHS' account.id %}" onclick="return confirm('Xác nhận xóa tài khoản này ?')"
                        class="delete">Xóa</a>
                </td>
            </tr>
            {% endfor %}
        </table>

        <div class="pagenumber">
            <button class="previous" type="previous">
                <img src="{% static 'images/previous.png' %}">
            </button>
            <p>1/1</p>
            <button class="next" type="next">
                <img src="{% static 'images/next.png' %}">
            </button>
        </div>
    </main>

    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>