{% extends 'studentManager/base.html' %}
<style>
    body {
        margin-left: 60px;
    }
</style>

{% block content %}

<!DOCTYPE html>
<html lang="en">

<body class = 'ps-10'>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Dashboard</h1>
                    </div><!-- /.col -->
                    
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
    </div>


<section class="content ps-50">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row justify-content-center">
            <div class="col">
                <!-- small box -->
                <div class="card border-danger mb-3 text-left" style="max-width: 20rem;">
                    <div class="card-header"><a href="{% url 'dsLop' %}" class="small-box-footer" style="text-decoration:none">&nbsp<i
                                class="fas fa-arrow-circle-right"></i></a></i></div>
                    <div class="card-body text-center">
                        <h4 class="card-title">Danh sách lớp</h4>
                        <p class="card-text">Có template mới</p>
                    </div>
                </div>
                
            </div>
            <!-- ./col -->
            <div class="col">
                <div class="card border-warning mb-3" style="max-width: 20rem;">
                    <div class="card-header"><a href="{% url 'dsTaiKhoanHS' %}" class="small-box-footer text-right" style="text-decoration:none">&nbsp<i class="fas fa-arrow-circle-right"></i></a></i></div>
                    <div class="card-body text-center">
                        <h4 class="card-title">Tài khoản Học Sinh</h4>
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p> -->
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col">
                <!-- small box -->
                <div class="card border-success mb-3" style="max-width: 20rem;">
                    <div class="card-header"><a href="{% url 'themHS' %}" class="small-box-footer" style="text-decoration: none">&nbsp<i
                                class="fas fa-arrow-circle-right"></i></a></i></div>
                    <div class="card-body text-center">
                        <h4 class="card-title">Tiếp nhận học sinh</h4>
                        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
</body>
</head>

</html>

{% endblock content %}