
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <title>Student Management System</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

<body class="justify-content-center align-items-center" style='background-color:#260261'>
    <div  style='background-color:#260261'>
        <div class="d-flex align-items-center justify-content-center">
            <div class="card border-success ps-3 pe-3 pt-4 pb-5 mt-5 mx-auto ">
                <div class="d-flex justify-content-center">
                    <h3 id="form-title">LOGIN</h3>
                </div>
                <div class="d-flex  align-items-center justify-content-center form_container">
                    <form method="POST" action="{% url 'doLogin' %}">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" name="username" placeholder="Username..." class="form-control">
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="password" placeholder="Password..." class="form-control">
                        </div>
                        
                        <div class="d-flex  align-items-center justify-content-center login_container mt-3 mb-2">
                            <input class="btn btn-outline-success" type="submit" value="Login">    
                        </div>
                        {% if messages %}
                        <!-- Error message -->
                        <div class="d-flex justify-content-center">
                            {% for message in messages %}
                                {% if message.tags == 'error' %}
                                <div>{{ message }}</div>
                                {% endif %}
                            {% endfor %}
                        </div> 
                        {% endif %}
                    </form>
    
                </div>
    

            </div>
        </div>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</head>

</html>