
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <title>Student Management System</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

<body class="d-flex flex-column min-vh-100" style='background-color:#3768bd'>


    <!-- <div class="container-fluid">
        <h3>LoginPage</h3>
        <div class="form-group" style="max-width: 20rem;">
            <label class="form-label mt-4">Floating labels</label>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <div>
            <button class="btn btn-fg btn-primary" type="button">Đăng nhập</button>
            </div>
        </div>
    </div> -->


    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="card border-success mb-3">
                <div class="d-flex justify-content-center">
                    <h3 id="form-title">LOGIN</h3>
                </div>
                <div class="d-flex  align-items-center justify-content-center form_container">
                    <form method="POST" action="{% url 'doLogin' %}">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" name="username" placeholder="Username..." class="form-control">
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" name="password" placeholder="Password..." class="form-control">
                        </div>
                        
                        <div class="d-flex  align-items-center justify-content-center mt-3 login_container">
                            <input class="btn btn-outline-success" type="submit" value="Login">    
                        </div>
                        {% if messages %}
                        <!-- Error message -->
                        <div class="d-flex justify-content-center">
                            {% for message in messages %}
                                {% if message.tags == 'error' %}
                                <div>{{ message }}</div>
                                {% endif %}
                            {% endfor %}
                        </div> 
                        {% endif %}
                    </form>
    
                </div>
    

            </div>
        </div>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</head>

</html>