{% extends 'studentManager/base.html' %}
{% load static %}

{% block content %}
    <main class="list-container">
        <div class="bg">
            <div class="wrapper">
                <div class="title">
                    Thêm học sinh
                </div>
                <form method="POST" role="form" enctype="multipart/form-data">
                    {% csrf_token %}
                <div class="form">
                    <div class="input_field">
                        <label>Username</label>
                        <!-- <div class="input">{{form.username}}</div> -->
                        <div class="input" type="text" >
                            {{form.username}}
                        </div>
                        
                    </div>
                    <div class="input_field">
                        <label>Password</label>
                            <div class="input" type="text">
                                {{form.password}}
                            </div>
                    </div>
                    <div class="input_field">
                        <label>Họ và tên</label>
                        <!-- {{form.username}} -->
                        <!-- <input type="text" class="input" name="name"> -->
                            <div class="input" type="text">
                                {{form.name}}
                            </div>
                    </div>

                    <div class="input_field">
                        <label>Ngày sinh</label>
                        <div class="input" type="text">{{form.dateOfBirth}}</div>
                    </div>
                    <div class="input_field">
                        <label>Giới tính</label>
                        <!-- <div class="custom_select">
                            <select name = 'sex'>
                                <option value="">Select</option>
                                <option value="Nam">Nam</option>
                                <option value="Nữ">Nữ</option>
                            </select>
                        </div> -->
                        <div class="input" type="text">{{form.sex}}</div>
                        
                    </div>
                    <div class="input_field">
                        <label>Email</label>
                        <!-- {{form.username}} -->
                        <!-- <input type="text" class="input" name="name"> -->
                        <div class="input" type="text">
                            {{form.email}}
                        </div>
                    </div>
                    <div class="input_field">
                        <label>Địa chỉ</label>
                        <div class="input" type="text">
                            {{form.address}}
                        </div>
                    </div>
                    
                    <div class="input_field">
                        <a class="btn  btn-cancel text-center" href="{% url 'dsTaiKhoanHS' %}">Trở về</a>
                        <button class="btn-save-st" type="submit">Lưu</button>
                    </div>
                    {% if messages %}
                    <!-- Error message -->
                    <div class="d-flex justify-content-center">
                        {% for message in messages %}
                        {% if message.tags == 'error' or message.tags == 'success' %}
                        <div>{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                </form>
            </div>

        </div>
    </main>
{% endblock %}