{% extends 'studentManager/base.html' %}
{% load static %}
{% block content %}
<h1 class="label"><center>Tra cứu học sinh</center></h1>
<!--<header class="tacvu">
   <div class="timkiem">
      <input type="text" class="search-bar" placeholder="Tìm kiếm...">
      {{marksFilter.form.name}}
      <button type = "submit" class="search-button">
        <img src= "{% static 'images/search.png' %}" class="search-icon">
      </button>
    </div>-->
    <div class="card card-body shadow-lg">
        <form method="get" class="main_form-header row">
            {% csrf_token %}
            <div class="main_form_class col-lg-4">
                <div class="row">
                    <div class="main_form_title col-lg-2">
                        <h3><center>Tên</center></h3>
                    </div>
                    <div class="main_form_select col-lg-8">
                        <center>
                        {{marksFilter.form.name}}
                        </center>
                    </div>
                </div>
            </div>
            <br>
            <div class="main_form_term col-lg-2">
                <div class="row">
                    <center>
                    <button type="submit" class= "button button1" style="border-radius: 8px; font-size: 20px; background-color: aquamarine; border-color:white">
                      Tìm kiếm
                    </button>                              
                    </center>
                </div>
            </div>
        </form>
    <br>
  </div>
  <table class="table">
    <tbody><tr>
      <th>STT</th>
      <th>Họ tên</th>
      <th>Lớp</th>
      <th>TB học kỳ 1</th>
      <th>TB học kỳ 2</th>
      <th></th>

    </tr>

    
  {% for student, classOfSchool, avg1, avg2 in marks %}
  <tr class = "list">
      <td>{{ forloop.counter }}</td>
      <td>{{student.user.name}}</td>
      <td>{{classOfSchool.classID}}</td>
      <td>{{avg1}}</td>
      <td>{{avg2}}</td>
  </tr>
  {% endfor %}

  </tbody></table>
  <div class="pagenumber">
    <button class="previous" type="previous">
      <img src="{% static 'images/previous.png' %}">
    </button>
    <p>1/1</p>
    <button class="next" type="next">
      <img src="{% static 'images/next.png' %}">
    </button>
  </div>

{% endblock content %}

