{% extends 'studentManager/base.html' %}
{% load static %}
{% block content %}
    <h1 class="label"><center>Tra cứu niên khóa</center></h1>
    <div class="card card-body shadow-lg">
        <div class="jus_center row">
            <div class='col-lg-6'>
                {% csrf_token %}
                <table class="table">
                    <tr>
                        <th>STT</th>
                        <th>Niên khóa</th>
                        <th>Lựa chọn</th>
                    </tr>
                    {% for y in age %}
                        <tr class = "list">
                            <td>{{ forloop.counter }}</td>
                            <td>{{y.year}}</td>
                            <td>
                                <a href="{% url 'traCuu' y.id %}" class="btn btn-primary">
                                    <button type="submit" class= "button button1" style="border-radius: 8px; font-size: 15px; background-color: aquamarine; border-color:white">Chọn</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        
    </div>
{% endblock content %}
